<h1>Editing: <%= @schoolclass.title %></h1>

<%= form_for(@schoolclass) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :room_number %>
	<%= f.submit %> 
<% end %>

<br><br>
<%= link_to "Cancel", schoolclass_path(@schoolclass) %>